
main {
    background-color: #F5F5F5;
    width: 400px;
    height: 400px;
    max-width: 800px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.dice-container {
    display: grid;
    gap: 20px;
    grid-template: auto auto / repeat(5, 1fr);
}
